@{
    ViewData["Title"] = "List of Orders";
    int count = 1;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card border-0 shadow-sm rounded">
            <div class="card-header bg-white"></div>
        </div>
    </div>
</div>