@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewBag.Title = "Edit Role";
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-0 shadow-sm rounded">
            <div class="card-header bg-white">
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Role" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control p-3 bg-light border-0" required/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                        <a asp-action="Index" asp-controller="Role" class="btn btn-light">Back To List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>